/* BODY */

body {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 500;
    background: linear-gradient(to right, #18a1ad, #44f1b6);
    margin: 0px;
    padding: 0px;    
}

/* HEADER */

header h1 {
    background-color: #0c4d53;
    color: #44f1b6;
    text-align: center;
    margin: 0;
    padding: 20px;
    /*font-size: 48px;*/
}

header ul {
    list-style-type:none;
    background-color: #0fc083;
    margin: 0;
    padding: 0;

    overflow: hidden
}

header li {
    float: left;
}

header li a {
    text-decoration: none;
    color: white!important;
    text-align: center;
    padding: 15px 30px;
    
    display: block;
}

header .active {
    background-color: #127780;
}

header li a:hover:not(.active) {
    background-color: #15eda3;
}

/* FOOTER */

footer {
    background-color: #127780;
    color: #44f1b6;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 5px;  
}

footer div{
    display:inline-block;
}

footer .bblogo{
    height: 200px;
    width: auto;
    float: center;
    vertical-align: middle;
}

footer .iconoredes{
    height: 32px;
    width: auto;
    float: inline-start;
    margin-right: 15px;
}

footer .datos{
    text-align: left;
    vertical-align: middle;
}

footer div p a:link, a:visited, a:active {
    text-decoration:none;
    color: #44f1b6;
}








