/* SELECTORES POR ELEMENTO */

h2 {
    color: #0c4d53;
    text-align: center;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
}

/* SELECTORES POR CLASE */

.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto); 
    height: auto;
    width: auto;
    
    grid-gap:0.5em;
    align-items: center;

    color: #0c4d53;
    text-align: justify;
    margin: auto;
    width: 95%;
    padding: 20px;
    max-width: 100%;
    line-height: 1.5;
    font-size: 18px;
}

.container {
    color: #0c4d53;
    text-align: justify;
    float: center;
    width: 95%;
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
    font-size: 18px;
}

.image {
    height: auto;
    width: 350px;
    float: right;
    vertical-align: middle;

}
.image2 {
    height: auto;
    width: 350px;
    float: left;
    vertical-align: middle;

}



.texto1 {
    grid-column: span 2;
    grid-row: 1;
    padding: 5px;

    
}
.imagen1 {
    grid-column: 3;
    grid-row: 1;
    width: 100%; /* Ocupará todo el ancho de la celda */
    height: auto; /* Ocupará todo el alto de la celda */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y llene la celda */

   
}
.texto2 {
    grid-column: span 2;
    grid-row: 2;
    padding: 5px;

}
.imagen2 {
    grid-column: 1;
    grid-row: 2;
    width: 100%; /* Ocupará todo el ancho de la celda */
    height: auto; /* Ocupará todo el alto de la celda */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y llene la celda */
   
}
.texto3 {
    grid-column: span 2;
    grid-row: 3;
    padding: 5px;

}
.imagen3 {
    grid-column: 3;
    grid-row: 3;
    width: 100%; /* Ocupará todo el ancho de la celda */
    height: auto; /* Ocupará todo el alto de la celda */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y llene la celda */
    



}





