/* SELECTORES POR ELEMENTO */

h2 {
    color: #0c4d53;
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
}

.productos {
    display: flex; /* Activar Flexbox */
    flex-wrap: wrap; /* Permitir que los productos se envuelvan */
    justify-content: space-between; /* Distribuir los productos con espacio entre ellos */
    padding: 20px; /* Relleno interno */
}
.producto {
    background-color: #2196F3; /* Fondo azul */
    color: white; /* Color del texto */
    padding: 20px; /* Relleno interno de cada producto */
    margin: 10px; /* Margen externo de cada producto */
    flex: 1 1 200px; /* Ajuste flexible: crece, encoge, tamaño base 200px */
    box-sizing: border-box; /* Incluir relleno y borde en el tamaño total */
}